@inherits LayoutComponentBase
@inject ICslyContext cslyContext;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p class="title">Visualization for CSLY with Viz.js </p><p><a href="about">About</a></p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
