
@code {
    [Parameter]
    public string Label { get; set; } = "";

    public string Name { get; set; } = "";

    
    [Parameter] public EventCallback<string> OnTokenAdded { get; set; }
    
    [Parameter] public EventCallback    OnCancel { get; set; }
    
    private void Cancel()
    {
        OnCancel.InvokeAsync();
    }
    
    private void Validate()
    {
        Hide = true;
        OnTokenAdded.InvokeAsync(Name);
        StateHasChanged();
    }

    
    [Parameter]
    public bool Hide {get; set; } = true;
    
}

<div hidden="@Hide">
    <DialogHeader ShowClose="false">
        <h4>@Label</h4>
    </DialogHeader>
    <DialogBody>
        <label for="customName" class="input-label">name</label>
        <input id="customName" @bind="@Name"/>
    </DialogBody>
    <DialogFooter>
        <button type="button" class="btn btn-primary" @onclick="@Validate">Ok</button>
        <button type="button" class="btn btn-secondary" @onclick="() => { Hide = true; Cancel(); }">Cancel</button>
    </DialogFooter>
</div>