@page "/About"
<h3>About</h3>

@code {
    
}
<div>
    
    <ul>
        <li><a href="https://viz-js.com/">viz.js</a> : the JS lib that render a syntax tree as a graph</li>
        <li><a href="https://github.com/b3b00/csly">CSLY</a> : the parser generator</li>
        <li><a href="https://github.com/b3b00/csly-cli">CSLY CLI</a> : the CSLY companion tool that help write coe for CSLY from a formal grammar definition</li>
    </ul>
</div>